{% extends 'base.html' %}
{% block title %}Concepte | {{ concept.conceptName }}{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% load static %}
{% load extraTags %}

{% block content %}
    <h1> {{ concept.conceptName }} </h1>

    <h4>{{ concept.conceptPreBlocksDescription|replaceBBCode|safe|linebreaks }}</h4>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseBlock">
                    Blocs
                </a>
            </h4>
        </div>
        <div id="collapseBlock" class="panel-collapse collapse in">
            <div class="panel-body">
                {{ conceptBlocks | createBlocksTable | safe }}
            </div>
        </div>
    </div>

    {{ concept.conceptPostBlocksDescription|replaceBBCode|safe }}

    <h3> Exemples </h3>
    <div class="panel-group" id="accordionExamples">
        {% for example in conceptExamples %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionExamples" href="#collapseExample{{ forloop.counter }}">
                            Exemple {{ forloop.counter }} : {{ example.exampleName}}
                        </a>
                    </h4>
                </div>
                <div id="collapseExample{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ example.exampleOnlineProjectId|scratchOnlineProject|safe }}
                            </div>
                            <div class="col-sm-6">
                                {{ example.exampleBlocks|scratchBlocks|safe }}
                                {{ example.exampleText|replaceBBCode|safe|linebreaks }}
                                <a class="btn btn-info" href="{{ example.exampleOnlineProjectId|onlineProjectLink }}" target="_blank" role="button">Consulter en ligne</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <h3>Défis</h3>
    <div class="panel-group" id="accordionExercises">
        {% for exercise in conceptExercises %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionExercises" href="#collapseExercise{{ forloop.counter }}">
                            Défi {{ forloop.counter }} : {{ exercise.exerciseName}}
                        </a>
                    </h4>
                </div>
                <div id="collapseExercise{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ exercise.exerciseStatement|replaceBBCode|safe|linebreaks }}

                        {# Additional blocks template if needed #}
                        {% if exercise.scratchblock_set.all%}
                            <div class="well">
                                Les blocs suivants te seront utiles pour résoudre cet exercice :
                                <div id="collapseBlock" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        {{ exercise.scratchblock_set.all | createBlocksTable | safe }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {# Hints for the current exercice  #}
                        <div class="panel-group" id="accordionExerciseHint{{ forloop.counter }}">
                            {% for hint in exercise.conceptexercisehint_set.all %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="accordionExerciseHint{{ forloop.parentloop.counter }}" href="#collapseExercise{{ forloop.parentloop.counter }}Hint{{ forloop.counter }}">
                                                Indice {{ forloop.counter }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseExercise{{ forloop.parentloop.counter }}Hint{{ forloop.counter }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ hint.hintContent|replaceBBCode|safe|linebreaks }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {# Buttons to previous and next section #}
    {% if conceptLast != None %}
        <a href="{% url 'concept' conceptLast %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">&laquo; {{ conceptLast }}</a>
    {% endif %}

    {% if conceptNext != None %}
        <a href="{% url 'concept' conceptNext %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">{{ conceptNext }} &raquo;</a>
    {% endif %}


{% endblock content %}
