{% extends 'base.html' %}
{% block title %}Concepte | {{ concept.conceptName }}{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% load static %}
{% load extraTags %}

{% block content %}
    <pre class="blocks"></pre> <!-- Je sais pas pourquoi, mais les blocs ne se montre pas bien sans ça -->

    <h1> {{ concept.conceptName }} </h1>

    <h4>{{ concept.conceptPreBlocksDescription|replaceBBCode|safe|linebreaks }}</h4>

    {% autoescape off %}
        {% spoil "Blocs" conceptBlocks|createBlocksTable|linebreaks %}
    {% endautoescape %}

    {{ concept.conceptPostBlocksDescription|replaceBBCode|safe }}

    <h3> Exemples </h3>
    <div class="accordion" id="accordionExamples">
        {% for example in conceptExamples %}
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#collapseExample{{ forloop.counter }}">
                    <h6 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Exemple {{ forloop.counter }} : {{ example.exampleName}}
                        </button >
                    </h6>
                </div>
                <div id="collapseExample{{ forloop.counter }}" class="collapse" data-parent="#accordionExamples">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ example.exampleOnlineProjectId|scratchOnlineProject|safe }}
                            </div>
                            <div class="col-sm-6">
                                {{ example.exampleBlocks|scratchBlocks|safe }}
                                {{ example.exampleText|replaceBBCode|safe|linebreaks }}
{#                                <a class="btn btn-info" href="{{ example.exampleOnlineProjectId|onlineProjectLink }}" target="_blank" role="button">Consulter en ligne</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <h3>Défis</h3>
    <div class="accordion" id="accordionExercises">
        {% for exercise in conceptExercises %}
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#collapseExercise{{ forloop.counter }}">
                    <h6 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Défi {{ forloop.counter }} : {{ exercise.exerciseName}}
                        </button>
                    </h6>
                </div>
                <div id="collapseExercise{{ forloop.counter }}" class="panel-collapse collapse" data-parent="#accordionExercises">
                    <div class="card-body">
                        {{ exercise.exerciseStatement|replaceBBCode|safe|linebreaks }}

                        {# Additional blocks template if needed #}
                        {% if exercise.scratchblock_set.all%}
                            <div class="well">
                                Les blocs suivants te seront utiles pour résoudre cet exercice :
                                <div id="collapseBlock" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        {{ exercise.scratchblock_set.all | createBlocksTable | safe }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {# Hints for the current exercice (no need for accordions as several can be opend at once) #}
                        {% autoescape off %}
                            {% for hint in exercise.conceptexercisehint_set.all|orderQueryBy:"hintNumber" %}
                                {% spoil "Indice "|addStr:forloop.counter hint.hintContent|replaceBBCode|safe|linebreaks False "hint"|addStr:forloop.counter|addStr:"ex"|addStr:forloop.parentloop.counter%}
                            {% endfor %}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {# Buttons to previous and next section #}
    <nav aria-label="NextPreviousConcept">
        <ul class="pager">
            {% if conceptLast != None %}
                <li>
                    <a href="{% url 'concept' conceptLast %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">&laquo; {{ conceptLast }}</a>
                </li>
            {% endif %}

            {% if conceptNext != None %}
                <li>
                    <a href="{% url 'concept' conceptNext %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">{{ conceptNext }} &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock content %}
