{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% load static %}
{% load extraTags %}


{% block content %}
    <h1><img class="header-icn" src="{% static "img/icons/concept.svg" %}"/> Concepts </h1>
    <ul class="list-group ">
        {% for concept in concepts %}
            <li class="list-group-item">
                <h3><img class="header-icn" src="{% static "img/icons/concept/"|add:concept.conceptIcon %}"/> <a href="{% url 'concept' concept.conceptName %}">{{ concept.conceptName }}</h3></a>
                <p class="text-muted">{{ concept.conceptPreBlocksDescription|replaceBBCode|safe }}</p>
            </li>
        {% endfor %}
    </ul>

    <h1><img class="header-icn" src="{% static "img/icons/slide.png" %}"/> Slides de présentation</h1>
    <p>Toutes les slides présentés pendant le cours (et plus) sont disponible sur ce  <a href="{% url "slide" %}">LIEN</a></p>


    <h1><img class="header-icn" src="{% static "img/icons/games.png" %}"/> Idées de jeux </h1>
    <div class="card-deck">
        <a href="{% url 'myProject' %}" class="card text-dark mb-4" style="width: 18rem;text-decoration: none;">
                <img class="card-img-top" src="{% static "img/projectsPreview/projetInconnu.png" %}" alt="Projet personnel">
            <div class="card-body">
                <h5 class="card-title">Comment faire un projet personnel ?</h5>
                <p class="card-text">Jette un oeil ici pour commencer un nouveau projet ! Pleins de conseils et astuce pour bien réussir ;)</p>
            </div>
        </a>
        {% for project in projects|orderQueryBy:'projectDifficulty' %}
{#            <a href="{% url 'project' project.projectTitle %}">#}
                <a href="{% url 'project' project.projectTitle %}" class="card text-dark mb-4" style="width: 18rem;text-decoration: none;">
                    {% with "img/projectsPreview/"|add:project.projectThumbnail as imgUrl %}
                        <img class="card-img-top" src="{% static imgUrl %}" alt="{{ project.projectTitle }}">
                    {% endwith %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.projectTitle }}</h5>
                        <p class="card-text">{{ project.projectSummary }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Difficulté : {{ project.projectDifficulty }}/10</small>
                    </div>
                </a>
                {% if forloop.counter|add:1|divisibleby:4 %} {# On saute une ligne tout les i % ... #}
                    <div class="w-100 d-none d-xl-block"></div>
                {% endif %}

{#            </a>#}
        {% endfor %}
    </div>

{% endblock content %}
