{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% load static %}

{% block content %}
    <h1> Concepts </h1>
    <ul>
        {% for conceptName in allConceptName %}
            <li><a href="{% url 'concept' conceptName%}"><h4>{{ conceptName }}</h4></a></li>
        {% endfor %}
    </ul>
    Les slides de tous les concepts sont disponibles sur : <a href="{% url "slide" %}">LIEN</a>

    <h1> Idées de jeux </h1>
    <div class="card-deck">
        {% for project in projects %}
            <a href="{% url 'project' project.projectTitle %}">
                <div class="card" style="width: 18rem;">
                    {% with "img/projectsPreview/"|add:project.projectThumbnail as imgUrl %}
                        <img class="card-img-top" src="{% static imgUrl %}" alt="{{ project.projectTitle }}">
                    {% endwith %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.projectTitle }}</h5>
                        <p class="card-text">{{ project.projectSummary }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
