{% extends 'base.html' %}
{% block title %}Project{% endblock title %}

{% load static %}
{% load extraTags %}

{% block content %}
    {# TODO : ajouter les concepts nécessaires à la réalisation du projet (coordonnées, orientation, etc.) #}
    {% if admin %}
        <p class="text-muted lead hideIfNotAdmin">Vous êtes sur la page des projets comme administrateur</p>
    {% endif %}

    <h1> {{ project.projectTitle }} </h1>
    <p class="text-muted">{{ project.projectSummary }}</p>

    <h2 id="resume">Résumé</h2>
    <p>{{ project.projectGameGoal|linebreaks }}</p>


    <h2>Démo</h2>
{#    {{ project.projectOnlineProjectId|scratchOnlineProject|safe }}#}
    {% autoescape off %}
        {% startSpoil "Démo" "demoProject" %}
            {% scratchOfflineProject project.projectScratchFile "projects" %}
            {% if admin %}
                <a class="btn btn-info hideIfNotAdmin" onclick="toggleEdition($(this).parent().find('embed')[0])" role="button">Toggle édition</a>
            {% endif %}
            <a class="btn btn-info" onclick="loadFile($(this).parent().find('embed')[0])" role="button">Re-charger le projet</a>
        {% stopSpoil %}
    {% endautoescape %}

    <h2>Réalisation</h2>

    <h4>Identification des objectifs du jeu</h4>
    <p>On va se poser la question de <b>qu'est ce qu'on veut ?</b></p>
    <p>( déjà répondu dans le <a href="#resume">résumé</a> )</p>

    <h4>Identification des lutins</h4>
    <p>On va se poser la question <b>de quoi avons nous besoin et que doit-il faire?</b></p>
    Dans notre cas j'ai choisi d'en utiliser {{ projectSprites|length }} :
    <ul>
        {% for projectSprite in projectSprites %}
            <li>{{ projectSprite.projectSpriteName }}</li>
        {% endfor %}
    </ul>

    <h4>Programmation des lutins </h4>
    {% for projectSprite in projectSprites %}
        <h5>{{ projectSprite.projectSpriteName }}</h5>
        {% for projectSpriteObjective in projectSprite.projectspriteobjective_set.all %}
            <h6> {{ projectSpriteObjective.projectSpriteObjectiveTitle }} </h6>
            <p> {{ projectSpriteObjective.projectSpriteObjectiveExplanation|linebreaks }} </p>
        {% endfor %}
    {% endfor %}

    {# TODO : ajouter une section sur les suggestions d'amélioration du jeu (niveau en plus, etc.) avec les concepts nécessitant l'ajout (varaibles, messages, ...) #}

    <script>
    function JSeditorReady() {
        var scratchLoadTarget = jQuery(this).find("embed");
        console.log("CALL to JSeditorReady, with target : ");
        console.log(scratchLoadTarget);

        if (scratchLoadTarget != null) {
            for (var i=0; i<scratchLoadTarget.length; i++) {
                // Load l'URL
                loadFile(scratchLoadTarget[i]);
                // Load le mode éditeur ou jeu
                loadEdition(scratchLoadTarget[i]);
            }
        } else {
            console.warn("Appel de JSeditorReady sans cible");
        }

        return true;
    }

    </script>

{% endblock content %}